body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f8fa;
}

.loading {
  display: flex;
  height: 70vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.error {
  display: flex;
  height: 70vh;
  width: 100vw;
  text-align: center;
  color: rgba(255, 0, 0, 0.562);
  justify-content: center;
  align-items: center;
}
